<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monitor.dao.SysPermissionMapper">
  <resultMap type="com.monitor.entity.SysPermission" id="BaseResult">
  	<id column="oid" jdbcType="INTEGER" property="oid"/>
  </resultMap>
   
  <insert id="add" parameterType="com.monitor.entity.SysPermission" >
     insert into sys_permission(
	      														oid					
									      													  ,permissionname
									      													  ,resourceType
									      													  ,url
									      													  ,created_date
									      													  ,updated_date
									      )
    values(
	        												#{oid}
										        						   			   ,#{permissionname}
			   		    			        						   			   ,#{resourceType}
			   		    			        						   			   ,#{url}
			   		    			        						   			   ,#{created_date}
			   		    			        						   			   ,#{updated_date}
			   		    			)
                                                                 
  </insert>
  
  <select id="list" resultType="com.monitor.entity.SysPermission">
  	select * from sys_permission
 <where>
                   <if test="oid!=null and oid!=''">
                 and oid=#{oid}
            </if>
                   <if test="permissionname!=null and permissionname!=''">
                 and permissionname=#{permissionname}
            </if>
                   <if test="resourceType!=null and resourceType!=''">
                 and resourceType=#{resourceType}
            </if>
                   <if test="url!=null and url!=''">
                 and url=#{url}
            </if>
                   <if test="created_date!=null and created_date!=''">
                 and created_date=#{created_date}
            </if>
                   <if test="updated_date!=null and updated_date!=''">
                 and updated_date=#{updated_date}
            </if>
               </where>
  </select>
 <delete id="delete">
 	delete from sys_permission
 	where 			    oid=#{oid}
          </delete>
 
 <update id="update" parameterType="com.monitor.entity.SysPermission">
 	update  sys_permission <set> 
									<if test="permissionname!=null and permissionname!=''">   
                                     				              permissionname=#{ permissionname},
                                  
					</if>
							<if test="resourceType!=null and resourceType!=''">   
                                     				              resourceType=#{ resourceType},
                                  
					</if>
							<if test="url!=null and url!=''">   
                                     				              url=#{ url},
                                  
					</if>
							<if test="created_date!=null and created_date!=''">   
                                     				              created_date=#{ created_date},
                                  
					</if>
							<if test="updated_date!=null and updated_date!=''">   
                                     				              updated_date=#{ updated_date}
					</if>
			</set>
 	where 			    oid=#{oid}
          </update>
  <select id="getById" resultType="com.monitor.entity.SysPermission">
   	select * from sys_permission
  	where  	 oid=#{oid}   </select>

	<select id="getPermissionNameByUserId" resultType="String">
		SELECT permission_id FROM  sys_role_permission where role_id in
		(SELECT role_id FROM sys_user_role where user_id=#{ user_id})</select>
<select id="query"
		resultType="com.monitor.entity.SysPermission">
		select * from sys_permission
		<where>			
			<foreach collection="jqQuery.query" separator="AND" item="condition">				 				
				${condition.key} ${condition.operator} ${condition.value}
			</foreach>
		</where>
  order by ${jqQuery.orderfield} ${jqQuery.ordertype}
	</select>
</mapper>