<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monitor.dao.SysRoleMapper">
  <resultMap type="com.monitor.entity.SysRole" id="BaseResult">
  	<id column="oid" jdbcType="INTEGER" property="oid"/>
  </resultMap>
   
  <insert id="add" parameterType="com.monitor.entity.SysRole" >
     insert into sys_role(
	      														oid					
									      													  ,rolename
									      													  ,description
									      													  ,created_date
									      													  ,updated_date
									      )
    values(
	        												#{oid}
										        						   			   ,#{rolename}
			   		    			        						   			   ,#{description}
			   		    			        						   			   ,#{created_date}
			   		    			        						   			   ,#{updated_date}
			   		    			)
                                                       
  </insert>
  
  <select id="list" resultType="com.monitor.entity.SysRole">
  	select * from sys_role
 <where>
                   <if test="oid!=null and oid!=''">
                 and oid=#{oid}
            </if>
                   <if test="rolename!=null and rolename!=''">
                 and rolename=#{rolename}
            </if>
                   <if test="description!=null and description!=''">
                 and description=#{description}
            </if>
                   <if test="created_date!=null and created_date!=''">
                 and created_date=#{created_date}
            </if>
                   <if test="updated_date!=null and updated_date!=''">
                 and updated_date=#{updated_date}
            </if>
               </where>
  </select>
 <delete id="delete">
 	delete from sys_role
 	where 			    oid=#{oid}
          </delete>
 
 <update id="update" parameterType="com.monitor.entity.SysRole">
 	update  sys_role <set> 
									<if test="rolename!=null and rolename!=''">   
                                     				              rolename=#{ rolename},
                                  
					</if>
							<if test="description!=null and description!=''">   
                                     				              description=#{ description},
                                  
					</if>
							<if test="created_date!=null and created_date!=''">   
                                     				              created_date=#{ created_date},
                                  
					</if>
							<if test="updated_date!=null and updated_date!=''">   
                                     				              updated_date=#{ updated_date}
					</if>
			</set>
 	where 			    oid=#{oid}
          </update>
  <select id="getById" resultType="com.monitor.entity.SysRole">
   	select * from sys_role
  	where  	 oid=#{oid}   </select>
	<select id="getRoleNameByUserId" resultType="String">
		SELECT rolename FROM  sys_role where oid in
		(SELECT role_id FROM sys_user_role where user_id=#{ user_id})</select>
<select id="query"
		resultType="com.monitor.entity.SysRole">
		select * from sys_role
		<where>			
			<foreach collection="jqQuery.query" separator="AND" item="condition">				 				
				${condition.key} ${condition.operator} ${condition.value}
			</foreach>
		</where>
  order by ${jqQuery.orderfield} ${jqQuery.ordertype}
	</select>
</mapper>