<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monitor.dao.TomcatlogDao">
	<resultMap id="BaseResultMap" type="com.monitor.model.Tomcatlog">
		<result column="call_ip" jdbcType="VARCHAR" property="callIp" />
		<result column="call_url" jdbcType="VARCHAR" property="callUrl" />
		<result column="call_time" jdbcType="INTEGER" property="callTime" />
		<result column="call_date" jdbcType="TIMESTAMP" property="callDate" />
		<result column="call_status" jdbcType="VARCHAR" property="callStatus" />
		<result column="created_date" jdbcType="DATE" property="createdDate" />
	</resultMap>

	<select id="testget" resultType="com.monitor.model.Tomcatlog">
		select
		*
		from t_app_tomcatlog 
		limit 10
	</select>

	<insert id="copylog">
		copy t_app_tomcatlog from '${file}' csv delimiter ';' quote '"'
	</insert>
	<insert id="copylogformysql">
	LOAD DATA local INFILE "${file}" INTO TABLE t_app_tomcatlog fields terminated by ';'
	</insert>

</mapper>